@import 'reset';
@import 'icon-font';

@import 'components/articlehtml';
@import 'components/applogo';
@import 'components/card';
@import 'components/searchentry';
@import 'components/searchresults';
@import 'components/topbar';

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.app {
  display: flex;
  flex-direction: column;

  .window-conents {
    background-image: url('../app-assets/background.jpg');
    flex-grow: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin: 30px;
    }
  }
}
